<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head.ejs") %>
</head>
<body>
    <body>
        <div class="form-animal-heading">
            <h1>New Animal Page</h1>
        </div>
        

        <form class="animal-form" action="/animal" method="post">
            <fieldset>
                <label>Species: <input type="text" name="name" placeholder="Animal species" /></label>

                <label>Location: <input type="text" name="img" placeholder="Area where the animal is found" /></label>

                <label>Life Expectancy: <input type="text" name="lifeExpectancy" placeholder="Life expectancy in years"/></label>

                <label>Extinct: <input type="checkbox" name="extinct"/></label>
            </fieldset>
            <input type="submit" value="Create Pokemon" >

            <br>
            <a href="/animals/"><button>Back to Main</button></a>
        </form>
        

</body>
</html>